@model WebClientes.CLIENTE_CONTACTOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CLIENTE_CONTACTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMERO_CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_CONTACTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CONTACTO_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
